<div class="main-container">
    <div class="header">
        <div class="header-left" routerLink="">
            Jacob Barnett
        </div>
        <div class="header-right">
            <div class="item" routerLink="">
                About me
            </div>
            <div class="item" routerLink="">
                Projects
            </div>
            <div class="item" routerLink="">
                Contact
            </div>
        </div>
    </div>
    <div class="body">

    </div>
</div>
