.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.content {
    margin-top: 78px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.google-form {
    width: 572px;
    height: 791px;
    opacity: .9;
    margin-bottom: 30px;
}

@media(max-width: 580px) {
    .content {
        margin-top: 68px;
    }

    .google-form {
        width: 400px;
    }
}

@media(max-width: 400px) {
    .google-form {
        width: 320px;
        height: 855px;
        margin-bottom: 15px;
    }
}
