.main-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #313133;
}

.content {
    margin-top: 90px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.content-body {
    width: 720px;
    padding-top: 5px;
    height: fit-content;
    margin-bottom: 40px;
    padding-bottom: 25px;
    border-radius: 10px;
    background-color:rgba(245, 245, 245, .9);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.photo {
    margin-top: 25px;
    width: 200px;
    height: 137px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px 2px rgba(33, 33, 33, .4);
    -moz-box-shadow: 0 0 10px 2px rgba(33, 33, 33, .4);
    box-shadow: 0 0 10px 2px rgba(33, 33, 33, .4);
}

.body1 {
    width: 620px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.big-text {
    white-space: nowrap;
    font-size: 32px;
    font-weight: bold;
}

.med-text {
    white-space: nowrap;
    margin-top: -15px;
    font-size: 24px;
}

.icon-text {
    white-space: nowrap;
    margin-top: -15px;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.fas {
    color: #313133;
    margin-right: 10px;
}

.body-text {
    font-size: 22px;
}

.bot {
    margin-top: 15px;
}

@media(max-width: 780px) {
    .content {
        margin-top: 80px;
    }
    
    .content-body {
        width: 500px;
    }

    .body1 {
        width: 400px;
    }

    .big-text {
        font-size: 26px;
    }

    .med-text {
        font-size: 16px;
        margin-top: -10px;
    }

    .icon-text {
        font-size: 16px;
        margin-top: -10px;
    }

    .body-text {
        margin-top: 5px;
        font-size: 16px;
    }

    .bot {
        margin-top: 15px;
    }
}

@media(max-width: 550px) {
    .content-body {
        width: 400px;
    }

    .body1 {
        width: 340px;
    }

    .big-text {
        font-size: 22px;
    }

    .med-text {
        font-size: 14px;
    }

    .icon-text {
        font-size: 14px;
    }

    .fas {
        margin-right: 7px;
    }
}

@media(max-width: 450px) {
    .content-body {
        width: 300px;
    }

    .body1 {
        width: 280px;
    }

    .big-text {
        font-size: 20px;
    }

    .med-text {
        margin-top: -8px;
        font-size: 11px;
    }

    .icon-text {
        margin-top: -8px;
        font-size: 11px;
    }

    .body-text {
        font-size: 14px;
    }

    .fas {
        margin-right: 5px;
    }
}
