<div class="main-container">
    <app-nav-bar></app-nav-bar>

    <div class="content">
        <div class="content-body">
            <img class="photo" src="/assets/img/jakepic.png" alt="">
            <div class="body1">
                <div class="big-text">
                    Jacob Barnett
                </div>
                <div class="med-text">
                    Senior Computer Science student at the University of Toledo
                </div>
                <div class="icon-text">
                    <i class="fas fa-map-marker-alt"></i>
                    <div>Wapakoneta, Ohio, United States</div>
                </div>
            </div>
            <div class="body1">
                <div class="body-text">
                    I am a current Senior at the University of Toledo College of Engineering studying Computer Science and Engineering. 
                    I currently have 15 months of industry experience through 3 Co-Op experiences while in college. 
                    The first as a Systems Engineer at Emerson Climate Technologies and the second and third as a Software Engineer both with Crown Equipment Corporation. 
                    I have also worked on my own personal projects, which can be found here at my website or at my GitHub account if you want to see the source code.
                    I am passionate about Computer Science and all fields realted to it and I am eager to grow as an engineer and person after my graduation in May 2021.
                </div>

                <div class="body-text bot">
                    For my future, I hope to secure a full time position either as a Software Engineer, DevOps Engineer, Cyber Secuity Engineer, Network Engineer, Network Operations Center Engineer, or System Administrator.
                    Although, I am open to many other roles that fall under the field of Computer Science and Engineering.
                    Outside of my academics and programming, my favorites things to do are play soccer, basketball, hangout with friends, play video games, and binge TV series.
                </div>
            </div>
        </div>
        <app-icons></app-icons>
    </div>
</div>
