<div class="main-container">
    <app-nav-bar></app-nav-bar>

    <div class="content">
        <div class="content-body">
            <img class="photo" src="/assets/img/me2.jpg" alt="">
            <div class="body1">
                <div class="big-text">
                    Jacob Barnett
                </div>
                <div class="med-text">
                    Software Engineer at Neudesic
                </div>
                <div class="icon-text">
                    <i class="fas fa-map-marker-alt"></i>
                    <div>Columbus, Ohio, United States</div>
                </div>
            </div>
            <div class="body1">
                <div class="body-text">
                    I am a Software Engineer at Neudesic, where I work with clients to problem solve technincal issues, create/enhance current features, and provide professional solutions in application and cloud development. 
                    I currently have 3 years of industry experience through my full-time job and 3 Co-Op experiences while in college. 
                    I obtained my Bachelors of Science degree at the University of Toledo College of Engineering in Computer Science and Engineering. 
                    I have also worked on my own personal projects, which can be found here at my website or at my GitHub account if you want to see the source code. 
                </div>

                <div class="body-text bot">
                    Outside of software, my favorites things to do are play spend time with my wife, take my dogs for walks, play soccer, play video games, and binge TV series. 
                </div>
            </div>
        </div>
        <app-icons></app-icons>
    </div>
</div>
