.main-container {
    width: 100%;
    height: 100%;
}

.body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.top {
    margin-bottom: 60px;
}

.card {
    width: 336px;
    height: 336px;
    background-color:rgba(245, 245, 245, .9);
    transition: all .2s ease-in-out;
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px 2px rgba(33, 33, 33, .6);
    -moz-box-shadow: 0 0 10px 2px rgba(33, 33, 33, .6);
    box-shadow: 0 0 10px 2px rgba(33, 33, 33, .6);
}

.card:hover {
    background-color:rgba(49, 49, 51, .9);
    transform: scale(1.1);
}

.card:focus {
    outline: none;
}

.card-mid {
    margin: 0 60px;
}

.card1-5 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card-header {
    margin-top: 12px;
    padding: 0 20px;
    border-radius: 25px;
    text-align: center;
    color: #f5f5f5;
    background-color: #313133;
    font-size: 22px;
    font-weight: bold;
    transition: all .4s ease-in-out;
    transform: translateY(138px);
}

.card-text {
    padding: 4px 12px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    color: #f5f5f5;
    display: flex;
    transition: all .4s ease-in-out;
    transform: translateY(265px);
}

.photo {
    margin-top: 12px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    transition: all .4s ease-in-out;
    transform: translateX(255px);
    -webkit-box-shadow: 0 0 10px 2px rgba(33, 33, 33, .2);
    -moz-box-shadow: 0 0 10px 2px rgba(33, 33, 33, .2);
    box-shadow: 0 0 10px 2px rgba(33, 33, 33, .2);
}

.card1-5:hover .photo {
    transition-delay: .2s;
    transform: translateX(0);
}

.card1-5:hover .card-header {
    color: #313133;
    background-color: #f5f5f5;
    transform: translateY(0);
}

.card1-5:hover .card-text {
    transform: translateY(0);
}

.font-awesome-link {
    margin-top: 8px;
    color: #f5f5f5;
    transition: all .4s ease-in-out;
    transform: translateY(265px);
    cursor: pointer;
}

.font-awesome-link:focus {
    outline: none;
}

.card1-5:hover .font-awesome-link {
    transform: translateY(0);
}

.b {
    transition: all .2s ease-in-out;
    color: #313133;
    margin: 12px 0;
}

.links {
    margin: 19px 0;
    padding: 0 10px;
    border-radius: 25px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #f5f5f5;
    transition: all .2s ease-in-out;
    border: 2px solid #f5f5f5;
}

.links:hover {
    transform: scale(1.04);
    background-color: #f5f5f5;
    color: #313133;
}

.links:focus {
    outline: none;
}

.card6 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.card6-left {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    transition: all .4s ease-in-out;
    transform: translateX(130px);
}

.card6-right {
    display: flex;
    flex-direction: column;
    transition: all .4s ease-in-out;
    transform: translateX(275px);
    margin-left: 13px;
}

.card6:hover .card6-left .b {
    color: #f5f5f5;
}

.card6:hover .card6-left {
    transform: translateX(0);
}

.card6:hover .card6-right {
    transform: translateX(0);
}

.body1 {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
}

.body1-header {
    white-space: nowrap;
    width: fit-content;
    margin-top: 30px;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    color:#313133;
    background-color:rgba(245, 245, 245, .9);
    padding: 0 130px;
    border-radius: 50px;
    text-align: center;
    -webkit-box-shadow: 0 0 10px 2px rgba(33, 33, 33, .9);
    -moz-box-shadow: 0 0 10px 2px rgba(33, 33, 33, .9);
    box-shadow: 0 0 10px 2px rgba(33, 33, 33, .9);
}

.body1-bot {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.pill {
    width: 336px;
    margin: 20px 0;
    border-radius: 30px;
    text-align: center;
    color: #f5f5f5;
    background-color:rgba(49, 49, 51, .9);
    font-size: 32px;
    font-weight: bold;
    transition: all .2s ease-in-out;
    cursor: pointer;
    -webkit-box-shadow: 0 0 10px 2px rgba(33, 33, 33, .2);
    -moz-box-shadow: 0 0 10px 2px rgba(33, 33, 33, .2);
    box-shadow: 0 0 10px 2px rgba(33, 33, 33, .2);
}

.pill:hover {
    transform: scale(1.05);
    background: none;
    -webkit-box-shadow: 0 0 10px 2px rgba(33, 33, 33, .9);
    -moz-box-shadow: 0 0 10px 2px rgba(33, 33, 33, .9);
    box-shadow: 0 0 10px 2px rgba(33, 33, 33, .9);
}

.pill:focus {
    outline: none;
    background: none;
    -webkit-box-shadow: 0 0 10px 2px rgba(33, 33, 33, .9);
    -moz-box-shadow: 0 0 10px 2px rgba(33, 33, 33, .9);
    box-shadow: 0 0 10px 2px rgba(33, 33, 33, .9);
}

@media screen and (max-width: 1366px) {
    .card:focus {
        outline: none;
        background-color:rgba(49, 49, 51, .9);
        transform: scale(1.1);
    }

    .card1-5:focus .photo {
        transition-delay: .2s;
        transform: translateX(0);
    }
    
    .card1-5:focus .card-header {
        color: #313133;
        background-color: #f5f5f5;
        transform: translateY(0);
    }
    
    .card1-5:focus .card-text {
        transform: translateY(0);
    }

    .card1-5:focus .font-awesome-link {
        transform: translateY(0);
    }

    .links:focus {
        outline: none;
        transform: scale(1.04);
        background-color: #f5f5f5;
        color: #313133;
    }
    
    .links:active {
        transform: scale(1.04);
        background-color: #f5f5f5;
        color: #313133;
    }

    .card6:focus .card6-left .b {
        color: #f5f5f5;
    }
    
    .card6:focus .card6-left {
        transform: translateX(0);
    }
    
    .card6:focus .card6-right {
        transform: translateX(0);
    }
}

@media screen and (max-width: 1160px), screen and (max-height: 780px) {
    .card {
        width: 280px;
        height: 280px;
    }

    .top {
        margin-bottom: 40px;
    }

    .card-mid {
        margin: 0 40px;
    }

    .card-header {
        margin-top: 8px;
        padding: 0 15px;
        font-size: 18px;
        transform: translateY(118px);
    }
    
    .card-text {
        padding: 2px 10px;
        font-size: 14px;
        font-weight: bold;
        transform: translateY(230px);
    }
    
    .photo {
        margin-top: 8px;
        width: 100px;
        height: 100px;
        transform: translateX(250px);
    }

    .font-awesome-link {
        transform: translateY(230px);
    }

    .card6-left {
        margin-left: 10px;
        transform: translateX(110px);
    }

    .card6-right {
        transform: translateX(250px);
        margin-left: 12px;
    }

    .b {
        margin: 10px 0;
    }

    .links {
        margin: 22px 0;
        padding: 0 8px;
        border-radius: 25px;
        text-align: left;
        font-size: 11px;
    }
}

@media(max-width: 960px) {
    .body {
        display: none;
    }

    .body1 {
        display: flex;
    }
}

@media(max-width: 500px) {
    .body1-header {
        font-size: 30px;
        padding: 0 40px;
    }

    .pill {
        font-size: 26px;
        width: 250px;
    }
}

@media(max-height: 595px) {
    .body1 {
        height: fit-content;
    }

    .body1-bot {
        height: fit-content;
        justify-content: flex-start;
    }

    .pill-container {
        margin-bottom: 20px;
    }
}
