<div class="main-container">
    <div class="body">
        <div class="card-container">
            <div class="card card-left card1-5">
                <div class="card-header">
                    Jacob Barnett
                </div>
                <div class="card-text">
                    I am a young software developer that loves to eat and create things. I am very passionate about eveything I do.
                </div>
            </div>
            <div class="card card-mid card1-5">
                <div class="card-header">
                    About Me
                </div>
                <div class="card-text">
                    I am a young software developer that loves to eat and create things. I am very passionate about eveything I do.
                </div>
            </div>
            <div class="card card-right card1-5">
                <div class="card-header">
                    Experience
                </div>
                <div class="card-text">
                    I am a young software developer that loves to eat and create things. I am very passionate about eveything I do.
                </div>
            </div>
        </div>

        <div class="card-container">
            <div class="card card-left card1-5">
                <div class="card-header">
                    Projects
                </div>
                <div class="card-text">
                    Personal projects are a great way for me to showcase my skills as well as learn new tools along the way. If you are interested in seeing some of the things I have worked on, please see the link below!
                </div>
                <i class="fas fa-external-link-alt fa-2x font-awesome-link" routerLink="/projects"></i>
            </div>
            <div class="card card-mid card1-5">
                <div class="card-header">
                    Contact
                </div>
                <div class="card-text">
                    I am a young software developer that loves to eat and create things. I am very passionate about eveything I do.
                </div>
            </div>
            <div class="card card-right card6">
                <div class="card6-left">
                    <i class="fab fa-linkedin fa-3x"></i>
                    <i class="fab fa-github fa-3x"></i>
                    <i class="fab fa-instagram fa-3x"></i>
                    <i class="fab fa-facebook-square fa-3x"></i>
                </div>
                <div class="card6-right">
                    <div class="links" (click)="navLinkedIn()">
                        linkedin.com/in/jacob-barnett
                    </div>
                    <div class="links" (click)="navGitHub()">
                        github.com/jtbarnett
                    </div>
                    <div class="links" (click)="navInstagram()">
                        instagram.com/jake_barnett6
                    </div>
                    <div class="links" (click)="navFacebook()">
                        facebook.com/profile
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>