<div class="main-container">
    <app-nav-bar></app-nav-bar>

    <div class="content">
        <div class="content-body">
            <div class="body" *ngFor="let project of list">
                <div class="header">
                    <div class="title">{{ project.title }}</div>
                    <div class="sub-title">{{ project.date }}</div>
                    <div class="row sub-title">
                        <div class="row-text">{{ project.gitLink }}</div>
                        <i class="fas fa-external-link-alt" (click)="navWeb(project?.gitLink)"></i>
                    </div>
                    <div class="row sub-title" *ngIf="project.hasLink">
                        <div class="row-text">{{ project.projectLink }}</div>
                        <i class="fas fa-external-link-alt" (click)="navWeb(project?.projectLink)"></i>
                    </div>
                    <div class="row sub-title-download" *ngIf="project.hasDownload">
                        <div>Download: </div>
                        <a class="row download" href="{{ project.downloadLink }}" download>
                            <div class="download-text">{{ project.downloadText }}</div>
                            <i class="fas fa-file-download"></i>
                        </a>
                    </div>
                </div>

                <div class="description-container">
                    <div class="description">
                        Description:
                    </div>
                    <div class="description-text">
                        {{ project.description }}
                    </div>
                </div>

                <div>
                    <div class="tools">Tools used:</div>
                    <div class="row tools-margin">
                        <div class="tool-pill" *ngFor="let tool of project.tools">{{ tool }}</div>
                    </div>
                </div>

                <div *ngIf="project.hasImage">
                    <div class="tools">Image:</div>
                    <img class="image" src="{{ project.image }}" alt="">
                </div>

                <hr *ngIf="project.notLast">

            </div>
        </div>
        <app-icons></app-icons>
    </div>
</div>
