.main-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #313133;
}

.content {
    margin-top: 90px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.content-body {
    width: 720px;
    height: fit-content;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color:rgba(245, 245, 245, .8);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.body {
    width: 620px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.title {
    font-size: 34px;
    font-weight: bold;
}

.sub-title {
    margin-top: -14px;
    font-size: 22px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.row-text {
    margin-right: 10px;
}

.fas {
    color: #313133;
    margin-left: 2px;
    margin-top: 10px;
    cursor: pointer;
}

.tools {
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
}

.tools-margin {
    margin-top: 5px;
}

.tool-pill {
    padding: 0 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 25px;
    color: #f5f5f5;
    background-color: #313133;
    transition: all .2s ease-in-out;
}

.tool-pill:hover {
    color: #313133;
    background-color: #f5f5f5;
    transform: translateY(3px);
    -webkit-box-shadow: 0 0 10px 2px rgba(33, 33, 33, .6);
    -moz-box-shadow: 0 0 10px 2px rgba(33, 33, 33, .6);
    box-shadow: 0 0 10px 2px rgba(33, 33, 33, .6);
}

.description {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

.description-text {
    font-size: 18px;
}

.image {
    margin-top: 5px;
    width: 620px;
    height: 420px;
    border-radius: 10px;
}

hr {
    display: block;
    border-width: 1px;
    border-style: solid;
    color: #313133;
    width: 620px;
    margin-top: 40px;
}

@media(max-width: 780px) {
    .content {
        margin-top: 80px;
    }
    
    .content-body {
        width: 500px;
    }

    .body {
        width: 400px;
    }

    .image {
        width: 400px;
        height: 271px;
    }

    hr {
        width: 400px;
    }

    .title {
        font-size: 26px;
    }

    .sub-title {
        font-size: 18px;
        margin-top: -10px;
    }

    .row-text {
        font-size: 18px;
    }

    .fas {
        margin-left: 0px;
        margin-top: 8px;
    }

    .tools {
        font-size: 16px;
    }

    .tool-pill {
        font-size: 14px;
    }

    .description {
        font-size: 16px;
    }
    
    .description-text {
        font-size: 16px;
    }
}

@media(max-width: 550px) {
    .content-body {
        width: 400px;
    }

    .body {
        width: 340px;
        margin-bottom: 10px;
    }

    .image {
        width: 340px;
        height: 230px;
    }

    hr {
        width: 340px;
        margin-top: 30px;
    }

    .title {
        font-size: 22px;
    }

    .sub-title {
        font-size: 16px;
    }

    .row-text {
        font-size: 16px;
        margin-right: 5px;
    }

    .tools {
        font-size: 14px;
    }

    .tool-pill {
        font-size: 12px;
    }

    .fas {
        margin-top: 5px;
    }

    .description {
        font-size: 14px;
    }
    
    .description-text {
        font-size: 14px;
    }
}

@media(max-width: 450px) {
    .content-body {
        width: 300px;
    }

    .body {
        width: 280px;
    }

    .image {
        width: 280px;
        height: 190px;
    }

    hr {
        width: 280px;
    }

    .title {
        font-size: 20px;
    }

    .sub-title {
        margin-top: -8px;
        font-size: 14px;
    }

    .row-text {
        font-size: 12px;
    }

    .fas {
        margin-top: 4px;
    }

    .tools {
        font-size: 12px;
    }

    .tool-pill {
        font-size: 11px;
    }

    .description {
        font-size: 12px;
    }
    
    .description-text {
        font-size: 12px;
    }
}
