.nav-bar {
    width: 100%;
    top: 0;
    left: 0;
    height: 60px;
    background-color:rgba(49, 49, 51, .98);
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0 0 10px rgba(33, 33, 33, 1);
    -moz-box-shadow: 0 0 10px rgba(33, 33, 33, 1);
    box-shadow: 0 0 10px rgba(33, 33, 33, 1);
}

.pill {
    white-space: nowrap;
    margin: 0 6px;
    padding: 0 20px;
    border-radius: 25px;
    text-align: center;
    color: #f5f5f5;
    font-size: 22px;
    font-weight: bold;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.pill:hover {
    transform: scale(1.05);
    background: none;
    -webkit-box-shadow: 0 0 10px 2px rgba(33, 33, 33, 1);
    -moz-box-shadow: 0 0 10px 2px rgba(33, 33, 33, 1);
    box-shadow: 0 0 10px 2px rgba(33, 33, 33, 1);
}

.pill:focus {
    outline: none;
}

@media(max-width: 780px) {
    .pill {
        font-size: 14px;
        margin: 0 3px;
        padding: 0 10px;
    }
}

@media(max-width: 450px) {
    .pill {
        font-size: 11px;
        margin: 0 2px;
        padding: 0 8px;
    }
}
