<div class="main-container">
    <div class="nav">
        <div class="pill" routerLink="">
            Home
        </div>
        <div class="pill" routerLink="/about-me">
            About Me
        </div>
        <div class="pill" routerLink="/experience">
            Experience
        </div>
        <div class="pill" routerLink="/projects">
            Projects
        </div>
        <div class="pill" routerLink="/contact">
            Contact
        </div>
    </div>

    <div class="content">
        <div class="message">
            404 Error!
        </div>
        <div class="icon-container">
            <i class="fab fa-linkedin fa-3x b1" (click)="navLinkedIn()"></i>
            <i class="fab fa-github fa-3x b1" (click)="navGitHub()"></i>
            <i class="fab fa-instagram fa-3x b1" (click)="navInstagram()"></i>
            <i class="fab fa-facebook-square fa-3x b1" (click)="navFacebook()"></i>
        </div>
    </div>
</div>
