/* You can add global styles to this file, and also import other style files */

/*
    white
    #f5f5f5

    dark
    #313133
    #181819
*/

* {
    font-family: 'Cairo', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    background: #313133;
    background-image: url(/assets/img/abstract.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    cursor: default;
}
