.main-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #313133;
}

.photo {
    margin-top: 6px;
    margin-left: 10px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px 2px rgba(33, 33, 33, .4);
    -moz-box-shadow: 0 0 10px 2px rgba(33, 33, 33, .4);
    box-shadow: 0 0 10px 2px rgba(33, 33, 33, .4);
}

.b {
    font-weight:bolder
}

.a {
    font-weight:lighter;
}

.content {
    margin-top: 90px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.content-body {
    width: 720px;
    height: fit-content;
    padding-top: 10px;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color:rgba(245, 245, 245, .9);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.body {
    width: 620px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.title {
    font-size: 34px;
    font-weight: bold;
}

.sub-title {
    margin-top: -14px;
    font-size: 22px;
}

.skills {
    margin-left: 20px;
}

.skill-list {
    font-size: 18px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.fas {
    color: #313133;
    margin-right: 10px;
}

.tools {
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
}

.tools-margin {
    margin-top: 5px;
}

.tool-pill {
    padding: 0 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 25px;
    color: #f5f5f5;
    background-color: #313133;
    transition: all .2s ease-in-out;
}

.tool-pill:hover {
    color: #313133;
    background-color: #f5f5f5;
    transform: translateY(3px);
    -webkit-box-shadow: 0 0 10px 2px rgba(33, 33, 33, .6);
    -moz-box-shadow: 0 0 10px 2px rgba(33, 33, 33, .6);
    box-shadow: 0 0 10px 2px rgba(33, 33, 33, .6);
}

hr {
    display: block;
    border-width: 1px;
    border-style: solid;
    color: #313133;
    width: 620px;
    margin-top: 40px;
}

@media(max-width: 780px) {
    .content {
        margin-top: 80px;
    }
    
    .content-body {
        width: 500px;
    }

    .body {
        width: 400px;
    }

    hr {
        width: 400px;
    }

    .photo {
        width: 42px;
        height: 42px;
    }

    .title {
        font-size: 26px;
    }

    .sub-title {
        font-size: 18px;
        margin-top: -10px;
    }

    .tools {
        font-size: 16px;
    }

    .tool-pill {
        font-size: 14px;
    }

    .skill-list {
        font-size: 16px;
    }
}

@media(max-width: 550px) {
    .content-body {
        width: 400px;
        padding-top: 5px;
    }

    .body {
        width: 340px;
        margin-bottom: 10px;
    }

    hr {
        width: 340px;
        margin-top: 30px;
    }

    .photo {
        margin-left: 8px;
        width: 36px;
        height: 36px;
    }

    .title {
        font-size: 22px;
    }

    .sub-title {
        font-size: 16px;
    }

    .tools {
        font-size: 14px;
    }

    .tool-pill {
        font-size: 12px;
    }

    .skill-list {
        font-size: 14px;
    }
}

@media(max-width: 450px) {
    .content-body {
        width: 300px;
    }

    .body {
        width: 280px;
    }

    hr {
        width: 280px;
    }

    .photo {
        margin-left: 6px;
        width: 30px;
        height: 30px;
    }

    .title {
        font-size: 20px;
    }

    .sub-title {
        margin-top: -8px;
        font-size: 12px;
    }

    .tools {
        font-size: 12px;
    }

    .tool-pill {
        font-size: 11px;
    }

    .skill-list {
        font-size: 12px;
    }
}
